<ng-template [ngIf]="data.title">
  <div class="header">
    <h1 mat-dialog-title>{{ data.title }}</h1>
  </div>
</ng-template>

<ng-template [ngIf]="data.message">
  <div mat-dialog-content>
    <p class="dialog-message">{{ data.message }}</p>
  </div>
</ng-template>

<div mat-dialog-actions>
  <ng-template [ngIf]="data.cancelText">
    <button mat-raised-button (click)="cancel()">
      {{ data.cancelText }}
    </button>
  </ng-template>
  <button mat-raised-button color="primary" (click)="confirm()">
    {{ data.confirmText }}
  </button>
</div>
